@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    display: flex;
    align-items: center;
    padding-top: 32px;
    background-color: #eeedfb;
    flex-direction: column;
    height: 100%;
    font-family: 'Salsa', cursive;
}